<!-- Header Bar template for windows, Not used in the main window -->
<header id="mainheader">
  <div class="navbar draggable">
    <section class="navbar-section noselect"></section>
    <section class="navbar-center noselect">
      <span>{{title}}</span>
    </section>
    <section class="navbar-section noselect">
      <button class="btn btn-link red no-box-shadow" onclick="window.close()">
        <i class="icon icon-cross nondraggable"></i>
      </button>
    </section>
  </div>
</header>