<!--? Mod Tile template, used in the "Mods" tab -->
<div class="tile tile-mod tile-centered">
  <div class="tile-icon p-1">
    <img class="img-fit-contain mod-logo" src="{{iconUrl}}" draggable="false">
  </div>
  <div class="tile-content">
    <div class="tile-title text-bold">{{name}} <span class="text-small text-normal">by {{authors}}</span></div>
    <div class="tile-subtitle">{{summary}}</div>
  </div>
  <div class="tile-action">
    <div class="dropdown">
      <a href="#" class="btn btn-link dropdown-toggle btn-lg pt-1" tabindex="0">
        <i class="icon icon-more-vert"></i>
      </a>
      <ul class="menu" data-modid="{{id}}">
        <li class="menu-item" class="mod-download">
          <a href="#">
            <i class="icon icon-download mr-2"></i> Save
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="mod-update">
            <i class="icon icon-refresh mr-2"></i> Update
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="mod-delete">
            <i class="icon icon-delete mr-2"></i> Remove
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>