@import url('./style.css');

.empty {
  padding-top: 1.6rem!important;
}

.footer {
  position: absolute;
  bottom: 1.6rem;
  font-size: 12px;
  left: 50%;
  opacity: .9;
  transform: translateX(-50%);
  width: 100%;
}