@import url("style.css");

#main {
  padding: 16px;
}

#toasts:hover {
  opacity: 1;
}

#submit {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.has-error > .show-when-error {
  display: inherit;
  animation: slide-down .15s ease 1;
}

:not(.has-error) > .show-when-error {
  display: none;
}